<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home FinTech Guide Web App</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='dist/css/cover.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='/dist/css/bootstrap.min.css') }}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    </head>

    <body>

    <div class="container d-flex w-100 h-100 p-5 flex-column">
        <header class="mb-auto">
            <div>
                <img class="float-md-start mb-0" style=" margin-right: 1rem; width:2.5rem; height:2.5rem;" src="{{ url_for('static', filename='dist/logo.svg')}}" />
                <h2 class="float-md-start mb-0" style="padding-right:1rem;">Growli</h2>
            </div>
        </header>
          
        <h3 style="margin-top:4rem;">Enter your ID number:</h3>
        <form method="POST" action = "/getdata">
            <div class = "form-group">
                <input type="text" name = "id">
            </div>
            <input class="btn btn-primary" id="enterIDBut" type="submit" value="Enter ID">
        </form>


        </body>
    </main>






</html>
